<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    .card {
      margin: 1em 0;
    }

    .text-red {
      color: red;
    }

    .bold {
      font-weight: 500;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  </style>
</head>

<body>
  <div class="card">
    <div class="card-header ">
      <span class="day-mark text-red bold"></span>
      <span class="date-mark"></span>
    </div>
    <ul class="card-body">
      <mission-form></mission-form>
    </ul>
  </div>
</body>

</html>