<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    li {
      width: 100%;
      position: relative;
      padding: 10px 2em;
    }

    .before,
    .after {
      display: none;
      position: absolute;
      top: 10px;
    }


    li:hover .before,
    li:hover .after {
      display: inline-block;
    }

    .before {
      left: 0;
    }

    .after {
      right: 0;
    }

    .done:hover::before {
      content: "\f05d";
    }
  </style>
</head>

<body>
  <li>
    <span class="drag-icon before">
      <i class="fa fa-arrows"></i>
    </span>
    <div class="item-main">
      <div>
        <span>
          <i class="fa fa-circle-o item-icon fa-lg done" ></i>
        </span>
        <span class="item-content">
          内容
        </span>
      </div>
      <div class="item-date">
        日期2018
      </div>
    </div>
    <span class="after">
      <i class="fa fa-ellipsis-h"></i>
    </span>
  </li>
</body>

</html>