<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    ul {
      list-style: none;
      padding: 0;
    }

    .date-mark {
      font-size: 0.875em;
      color: #999;
    }
  </style>
</head>

<body>
  <div class="card">
    <div class="card-header">
      <span class="day-mark"></span>
      <span class="date-mark"></span>
    </div>
    <ul class="card-body">
      <mission-form></mission-form>
      <li class="create-mission">
        <span></span>
        <div class="item-main flex flex-justify-between">
          <span class="show-form">
            <i class="fa fa-plus"></i>
            <span>添加任务</span>
          </span>
          <span>
            <i class="fa fa-history"></i>
          </span>
        </div>
        <span></span>
      </li>
    </ul>
  </div>
</body>

</html>