<!DOCTYPE html>
<html lang="en">

<head>
  <style>
  </style>
</head>

<body>
  <li>
    <span>
      <i class="fa fa-arrows"></i>
    </span>
    <div class="item-main">
      <div>
        <span>
          <i name="finish" class="fa fa-circle-o item-icon fa-lg"></i>
        </span>
        <span class="item-content">
          内容
        </span>
      </div>
      <div class="item-date">
        日期2018
      </div>
    </div>
    <span>
      <i class="fa fa-ellipsis-h"></i>
    </span>
  </li>
</body>

</html>