*{
  box-sizing: border-box;
}
html{
  font-size:16px;
}
body{
  background-color: #FAFAFA;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
nav{
  background-color: #3D3D3D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  padding: 5px;
}
.container{
  width: 1000px;
  margin: 0 auto;
}
#logo{
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 3px;
}
.flex{
  display: flex;
}
.flex-justify-between{
  justify-content: space-between;
}
.flex-center{
  align-items: center;
}
nav{
  z-index: 9;
}
#nav-left{
  width: 350px;
  display: inline-block;
}
#nav-right{
  width: 650px;
  position: relative;
}
#nav-buttons{
  width: 200px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
#nav-search{
  width: 100%;
  position: relative;
}
#nav-search>i{
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 3;
}
#nav-search>input{
  background-color: #3D3D3D;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px 0 5px 26px;
  margin: 0;
  width: 300px;
  z-index: 2;
  position: relative;
}
#nav-search>input:hover{
  background-color: #575757;
}
#nav-search>input:focus{
  background-color: #fff;
  animation: inputGrow 0.2s ease-in;
  animation-fill-mode: both;
}
#nav-search>input:focus + i{
  color: #575757;
}
@keyframes inputGrow{
  from {background-color: #575757;}
  to {
    background-color: #fff;
    width: 100%;
  }
}
@keyframes inputGrow1{
  from {background-color: #fff;
    width: 100%;}
  to {
    background-color: #575757;
  }
}
#left-menu{
  padding-top: 30px;
  padding-bottom: 50px;
  width: 350px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.content{
  width: 650px;
  background-color: #fff;
  min-height: 500px;
  border: 1px solid #eee;
  margin-left: 350px;
  padding: 40px;
}
#top-filters, #bottom-filters{
  list-style: none;
  padding: 0;
  width: 100%;
  user-select: none;
}
#top-filters .item:hover{
  background-color: #fff;
}
#top-filters .active{
  background-color: #fff;
  font-weight: 700;
}
#top-filters>li{
  padding: 9px;
  width: 100%;
}
#top-filters .item-icon,#bottom-filters .item-icon,#mission-list .item-icon{
  margin-right: 10px;
}
#bottom-filters>li{
  border-bottom: 1px solid #eee;
  padding: 9px;
  font-weight: 700;
}
#bottom-filters li:hover{
  background-color: #F7F7F7;
}
#mission-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
#mission-list>.mission-item{
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#mission-list>.mission-item span{
  cursor: text;
}
#mission-list>.mission-item i[name=finish]:hover::before{
  content: "\f05d";
}
#mission-list>.mission-item>.item-before{
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
#mission-list>.mission-item:hover>.item-before{
  display: inline-block;
}
#mission-list .item-placeholder{
  background-color: #eee;
  min-height: 1rem;
}
#mission-list .hide{
  display: none;
}
.text-sm-center{
  font-size: 0.625rem;
  align-content: center;
}
#add-mission{
  border: none;
  user-select: none;
}
#add-mission:hover{
  text-decoration: underline;
}
#mission-buttons{
  margin-top: 5px;
}
input[type=datetime-local]{
  z-index: 1;
}
.input-group{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.input-group>input{
  flex-grow: 3;
}
.input-group input{
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  border-radius: 3px;  
}
.input-group input[type=text]{
  line-height: 21px;
}
.input-group .input-group-append{
  display: flex;
  position: relative;
  left: -5px;
}
.input-group .input-group-append>input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.w-25{
  width: 25%;
}
button{
  outline: none;
  border-radius: 5px;
  padding: 7px 12px;
  border: 1px solid #fff;
  font-weight: 700;
}
button:hover{
  cursor: pointer;
}
button[class~=btn-dark]{
  background-color: #000;
  color: #fff;
}
button[class~=btn-link]{
  background-color: transparent;
  color: #000;  
}
button[class~=btn-link]:hover{
  text-decoration: underline;
}

.curtain{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: 7;
}
.bg-black{
  background-color: #000;
}
.text-right{
  text-align:right;
}
.hide{
  display: none;
}
.text-lg-center{
  margin: 0 auto;
  font-size: 1.2rem;
}
.float-right{
  float: right;
}
.item-curtain{
  background-color: #ddd;
  opacity: 1;
  font-weight: 700;
}
#alert-box{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
#alert-box>*:nth-child(n+2){
  margin-top: 3px;
}
.alert,.confirm{
  border-radius: 5px;
  background-color: #555555;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}
#alert-box a{
  margin-left: 1rem;
  font-weight: 700;
}
#alert-box a:hover{
  text-decoration: underline;
}
#alert-box *[name=submit]{
  color: #E99388;
}
#alert-box *[name=cancal]{
  color: #999;
}
#the-top>.body{
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 10000;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  min-width: 40%;
  padding: 25px 30px;
}
#the-top .header{
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: #555;
}
.relative{
  position: relative;
}
.text-gray{
  color: gray;
}
@keyframes toBlack
{
  to {color: #000;}
}
.hover-black:hover{
  animation: toBlack 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.list-menu{
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 #555;
  position: absolute;
  min-width: 200px;
  top: 1.7rem;
  right: 0;
  opacity: 1;
  z-index: 11;
}
.list-menu ul{
  background-color: #fff;
  list-style: none;
  padding: 3px 0;
  margin: 0;
  position: relative;
}
.list-menu ul:nth-child(n+2){
  border-top: 1px solid #ccc;
}
.list-menu li{
  padding: 8px 10px;
  font-size: 0.875rem;
  cursor: pointer;
  user-select: none;
}
.list-menu li:hover{
  background-color: #eee;
}