<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    .template {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .header {
      background-color: #0066FF;
      display: flex;
      justify-content:space-between;
      align-items:center;
      padding: 0 2em;
      color: #fff;
      min-height: 2em;
    }

  </style>
</head>

<body>
  <div class="template">
    <div class="header">
      <h3>所有任务</h3>
      <div>asd</div>
    </div>
    <div class="body">
      <mission-card></mission-card>
    </div>
  </div>
</body>

</html>