<!DOCTYPE html>
<html lang="en">

<head>
  <style scoped>
    .template {
      margin: 50px auto;
      background-color: #fff;
      width: 100%;
    }

    .main {
      margin: 0 auto;
      width: 100%;
      display: flex;
    }

    .left {
      width: 20%;
    }

    .right {
      width: 80%;
      display: flex;
      align-items: flex-start;
    }
  </style>
</head>

<body>
  <div class="template">
    <div class="main">
      <div class="left">
        <left-menu></left-menu>
      </div>
      <div class="right">
        <inbox></inbox>
      </div>
    </div>
  </div>
</body>

</html>